@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Fredoka',sans-serif;

}



body{

background:linear-gradient(135deg,#FFFDF8,#FFF5FA,#EEF7FF);

min-height:100vh;

}




/* ================= LANDING PAGE ================= */


.app{

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

padding:40px;

}



.card{

width:550px;

background:white;

padding:50px;

border-radius:35px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.08);

position:relative;

overflow:hidden;

}




.circle{

position:absolute;

border-radius:50%;

}




.pink{

background:#FFD9E8;

width:170px;

height:170px;

top:-60px;

right:-50px;

}



.purple{

background:#E7D7FF;

width:130px;

height:130px;

bottom:-45px;

left:-45px;

}



.blue{

background:#DDF2FF;

width:70px;

height:70px;

top:40px;

left:40px;

}



.card h1{

font-size:48px;

color:#705E8A;

margin-bottom:15px;

}



.card h2{

font-size:30px;

color:#666;

margin-bottom:20px;

}



.card p{

font-size:20px;

line-height:1.8;

color:#666;

margin-bottom:35px;

}




/* ================= BUTTON ================= */


.primary-btn{

padding:15px 38px;

font-size:20px;

background:#DCC8FF;

border:none;

border-radius:50px;

cursor:pointer;

color:#55436D;

transition:.3s;

}



.primary-btn:hover{

background:#CAB0FF;

transform:translateY(-4px);

}




/* ================= DASHBOARD ================= */


.dashboard{

padding:40px;

min-height:100vh;

}



.dashboard h1{

text-align:center;

font-size:42px;

color:#705E8A;

}




/* ================= BALANCE CARD ================= */


.balance-card{

width:100%;

max-width:750px;

margin:30px auto;

background:#FFF6C8;

border-radius:30px;

padding:30px;

display:flex;

align-items:center;

gap:25px;

box-shadow:0 12px 25px rgba(0,0,0,.08);

}



.balance-icon{

width:75px;

height:75px;

background:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

}



.balance-info p{

color:#6A5E76;

font-size:18px;

}



.balance-info h2{

color:#4E4462;

font-size:40px;

margin-top:5px;

}





/* ================= SUMMARY CARDS ================= */


.summary-container{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

margin-top:35px;

}



.summary-card{

width:260px;

padding:28px;

border-radius:28px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

}



.summary-card:hover{

transform:translateY(-6px);

}



.income{

background:#DFF9E7;

}



.expense{

background:#FFE2ED;

}



.summary-card h3{

color:#5C5470;

margin-bottom:12px;

}



.summary-card h2{

color:#3F3A52;

font-size:34px;

}





/* ================= ADD TRANSACTION PAGE ================= */


.form-page{

min-height:100vh;

background:#FFFDF8;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}



.form-card{

width:500px;

background:white;

padding:45px;

border-radius:35px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}



.form-card h1{

text-align:center;

font-size:36px;

color:#705E8A;

margin-bottom:30px;

}




.input-group{

margin-bottom:22px;

}



.input-group label{

display:block;

font-size:17px;

color:#5C5470;

margin-bottom:8px;

}



.input-group input,
.input-group select,
.input-group textarea{

width:100%;

padding:14px 16px;

border-radius:18px;

border:2px solid #F0E8FF;

background:#FFFDF8;

font-size:16px;

outline:none;

}



.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus{

border-color:#DCC8FF;

}





.radio-buttons{

display:flex;

justify-content:center;

gap:35px;

margin:25px 0;

}



.radio-buttons label{

font-size:17px;

color:#5C5470;

}




.save-btn{

width:100%;

padding:16px;

border:none;

border-radius:30px;

background:#DCC8FF;

color:#55436D;

font-size:18px;

cursor:pointer;

transition:.3s;

}



.save-btn:hover{

background:#CAB0FF;

transform:translateY(-3px);

}





/* ================= TRANSACTION HISTORY ================= */


.transaction-section{

max-width:750px;

margin:40px auto;

}



.transaction-section h2{

color:#705E8A;

margin-bottom:20px;

}




.transaction-card{

background:white;

padding:20px;

border-radius:22px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}



.money-income{

color:#3BA55D;

}



.money-expense{

color:#E85D75;

}





/* ================= MOBILE ================= */


@media(max-width:600px){


.dashboard{

padding:20px;

}



.balance-card{

flex-direction:column;

text-align:center;

}



.form-card{

width:100%;

padding:30px;

}



.card{

width:100%;

padding:35px;

}



.card h1{

font-size:38px;

}


}

.transaction-right{

display:flex;

align-items:center;

gap:15px;

}


.delete-btn{

background:#FFE2ED;

border:none;

border-radius:50%;

width:40px;

height:40px;

cursor:pointer;

font-size:18px;

}


.delete-btn:hover{

transform:scale(1.1);

}

.chart-card{

background:white;

max-width:500px;

margin:35px auto;

padding:30px;

border-radius:30px;

box-shadow:0 12px 25px rgba(0,0,0,.08);

text-align:center;

}


.chart-card h2{

color:#705E8A;

margin-bottom:20px;

}

.savings-section{

max-width:700px;

margin:40px auto;

}



.savings-section h2{

color:#705E8A;

margin-bottom:20px;

}



.goal-card{

background:white;

padding:25px;

border-radius:28px;

margin-bottom:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}



.goal-header{

display:flex;

justify-content:space-between;

align-items:center;

}



.goal-header h3{

color:#5C5470;

}



.goal-header span{

background:#E7D7FF;

padding:8px 15px;

border-radius:20px;

color:#55436D;

}



.goal-card p{

margin:15px 0;

color:#777;

}



.progress-bar{

height:14px;

background:#F0E8FF;

border-radius:20px;

overflow:hidden;

}



.progress-fill{

height:100%;

background:#DCC8FF;

border-radius:20px;

}.navbar{

position:fixed;

bottom:25px;

left:50%;

transform:translateX(-50%);

width:350px;

background:white;

padding:12px;

border-radius:35px;

display:flex;

justify-content:space-around;

box-shadow:0 10px 30px rgba(0,0,0,.12);

}



.navbar button{

border:none;

background:none;

cursor:pointer;

display:flex;

flex-direction:column;

align-items:center;

gap:5px;

font-size:18px;

color:#777;

}



.navbar span{

font-size:13px;

}



.nav-active{

color:#705E8A !important;

font-weight:600;

}.dark{

background:#17151F;

min-height:100vh;

}



.dark .dashboard{

background:#17151F;

}



.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark small{

color:#F5F1FF;

}



.dark .balance-card,
.dark .summary-card,
.dark .transaction-card,
.dark .form-card,
.dark .chart-card,
.dark .goal-card,
.dark .navbar{

background:#24212F;

}



.dark .balance-card{

background:#3A344A;

}



.dark .income{

background:#263B32;

}



.dark .expense{

background:#422A35;

}



.dark input,
.dark select,
.dark textarea{

background:#302C3B;

color:white;

}



.dark .navbar button{

color:#ddd;

}